<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <%#= image_tag @photo.avatar.url %>
  <%#= image_tag @photo.avatar.url(:medium) %>
  <%= image_tag @photo.avatar.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
