<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Flickr Photo Id:</b>
  <%= image_tag (FlickRaw.url_b flickr.photos.getInfo(:photo_id => @photo.flickr_photo_id)) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
